@import "tailwindcss";

:root {
  --background: 210 40% 98%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: oklch(0.4493 0.2527 290.64);
  --primary-foreground: #ffffff;

  --secondary: #C901D2;
  --secondary-foreground: #ffffff;

  --tertiary: oklch(0.3034 0.0361 295.65);
  --tertiary-foreground: #ffffff;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  --main-color: #6001d2;
  --background-card: #F7F7F7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.primary-button {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.hover\:primary-button:hover {
  background-color: var(--background);
  border-color: var(--primary);
  color: var(--primary);
}

.secondary-button {
  border-color: var(--secondary);
  color: var(--secondary);
}

.ghost-button {
  color: var(--primary);
}

.hover\:ghost-button-100:hover{
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-header {
  background-color: var(--tertiary);
}

.content-center {
  justify-content: center;
}

.margin-block-end {
  margin-block-end: auto;
}

.bg-card {
  background-color: var(--background-card);
}

.ml-auto {
  margin-left: auto;
}

.rounded-l-lg {
  border-top-left-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
}

.rounded-l-2xl {
  border-top-left-radius: var(--radius-2xl);
  border-bottom-left-radius: var(--radius-2xl);
}

@utility hc-* {
  height: calc(var(--spacing) * --value(integer));
}

@utility prc-* {
  padding-right: calc(var(--spacing) * --value(integer));
}

@utility text-primary-* {
  color: var(--primary);
  font-weight: --value(integer);
}

@utility tab-primary-* {
  background-color: oklch(0.4493 0.2527 290.64 / calc(--value(integer) * 1%));
}
